.DS_Store
Step Tracker.xcodeproj/project.xcworkspace/xcuserdata/cristianolmedo.xcuserdatad/UserInterfaceState.xcuserstate
Step Tracker.xcodeproj/project.xcworkspace/xcuserdata/cristianolmedo.xcuserdatad/UserInterfaceState.xcuserstate
